* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Inter, sans-serif;
    background: #1A1B21;
}

.container{
    background: #23252C;
}

.contents{
    width: 300px;
    background: #1A1B21;
}

.JJLinphoto{
    height: 300px;
    margin: 0;
}

.name{
    color: #FFFFFF;
    text-align: center;
    font-family: Inter;
    font-size: 25px;
    line-height: 30px;
}

.intro{
    color: #F3BF99;
    font-family: Inter;
    font-size: 12.8px;
    text-align: center;
}

.website{
    color: #F5F5F5;
    font-family: Inter;
    font-size: 10.24px;
    line-height: 150%;
    text-align: center;
}

.buttonss{
    display: flex;
    align-content: center;
}

.emailButton{
    padding: 9px 13px 9px 11px;
    width: 115px;
    height: 34px;
    left: 151px;
    top: 468px;
    background: #FFFFFF;
    border: 1px solid #D1D5DB;
    border-radius: 6px;
    
    color: #374151;
    font-size: 14px;
    margin: 0px 20px;
}

.linkedinButton{
    padding: 9px 13px 9px 11px;
    width: 115px;
    height: 34px;
    left: 283px;
    top: 468px;
    background: #5093E2;
    color: #FFFFFF;
    border-radius: 6px;
    font-size: 14px;
    margin: 0px 8px;
}

.about{
    margin: 20px 36px 0px 25px;
    width: 242.71px;
    height: 21px;
    left: 152px;
    top: 535px;
    font-family: Inter;
    font-size: 16px;
    line-height: 150%;
    color: #F5F5F5;
}

.aboutP{
    margin: 5px 36px 0px 25px;
    width: 250px;
    font-size: 10.24px;
    line-height: 150%;
    color: #DCDCDC;
}

.albums{
    margin: 20px 36px 0px 25px;
    width: 242.71px;
    height: 21px;
    left: 152px;
    top: 535px;
    font-family: Inter;
    font-size: 16px;
    line-height: 150%;
    color: #F5F5F5;
}

.albumsL{
    margin: 5px;
    width: 250px;
    font-size: 10.24px;
    line-height: 150%;
    color: #DCDCDC;
    padding: 0px 0px 10px 35px;
}

.icons{
    background: #161619;
    align-content: center;
    padding: 0px 5px 1px 50px;
}
.twitter{
    width: 30px;
    margin: 10px;
}

.facebook{
    width:30px;
    margin: 10px;
}

.ig{
    width:30px;
    margin: 10px;
}
.github{
    width:30px;
    margin: 10px;
}